---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import InnerHero from "../components/sections/InnerHero.astro";
import TeamGrid from "../components/sections/TeamGrid.astro";
import heroBg from "../assets/InnerHero-bg.jpg";
---

<BaseLayout>
    <InnerHero
        content={{
            title: "Meet the School Management",
            description: "Browse our albums and relive your favorite moments.",
            backgroundImage: heroBg,
            overlayOpacity: 0.6,
        }}
    />

    <section>
        <TeamGrid padding="xl" />
    </section>
</BaseLayout>
